<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Ökostrom ist nicht gleich Ökostrom. Suche nach deinen Stromanbieter">
    <title>Ökostrombericht 2019</title>
    <script defer src="node_modules/lunr/lunr.js"></script>
    <script defer src="node_modules/vue/dist/vue.min.js"></script>
  </head>
  <body>
    <h1>Stromanbietersuche</h1>

    <div id="app">
      {{ message }}
    </div>

    <script>
     document.addEventListener("DOMContentLoaded", function () {
       Vue.component('v-search', {
         props: [],
         template: `
           <label>Suche
             <input type="text"
                    placeholder="zB Anbietername oder Website"
                    @input="$emit('typing', $event.target.value)">
           </label>`,
         methods: {},
         computed: {}
       })

       Vue.component('v-item', {
         props: ['item'],
         template: `
           <li>
             <h4>{{ item['Firmenname'] }}</h4>
             <p>{{ reason( item['RoWo-Kriterien'] )}}</p>
             <p>
               <span v-if="item['Stadt'] != ''">{{ item['Adresse'] }},
                 {{ item['PLZ'] }} {{ item['Stadt'] }}</span><br>
               <a v-if="item['URL'] != ''"
                  :href="item['URL']">Website</a>
               <a v-if="item['Kennzeichnung Link'] != ''"
                  :href="item['Kennzeichnung Link']">Stromkennzeichnung</a>
             </p>
             <p v-if="item['Anmerkungen'] != ''"><em>Anmerkung: {{ item['Anmerkungen']}}</em></p>
             <p v-if="item['Bemerkung'] != ''"><em>Bemerkung: {{ item['Bemerkung']}}</em></p>
         </li>`,
         methods: {
           reason(ident) {
             const reasons = {
               A: "❌ Anbieter vertreibt nicht zu 100% Ökostrom",
               B: "❌ Eigentumsrechtliche Verflechtungen oder oder Verkauf von nicht regenerativen Energien eines, am Anbieter, beteiligten Unternehmens",
               C: "❌ Große, überregionale Anbieter die keinen erkennbare (auch keine eigenen EE Anlagen) zusätzlichen Beitrag zur Energiewende leisten",
               D: "❌ Betreiber von Anlagen aus denen Strom Bezogen produzieren oder verkaufen Strom aus Kohl-Atomenergie",
               R: "🏡 Regionale Anbieter die den oben genannten Kriterien entsprechen",
               RC: "🏡 Regionale Anbieter die keinen erkennbare (auch keine eigenen EE Anlagen) zusätzlichen Beitrag zur Energiewende leisten",
               X: "✔️ Überregionale Anbieter mit 100% Ökostrom, Beiträgen zu Förderung der Energiewende und ohne erkennbare Verflechtungen mit Unternehmen die mit Kohle oder Atomstrom handeln oder entsprechende Kraftwerke besitzen",
               XX: "🙃 Alternative Anbieter mit eher Vermittelnder / Beratender Funktion (z.B. regionale Direktvermarktung aus kleinstanlagen, Mietstromangebote, u.ä.), mit 100% Ökostrom",
               N: "❓ Reiner Netzbetreiber ohne eigenes Versorgungsangebot",
               '?': "❌ Stromkenneichung fehlt, keine Internetpräsenz oder ähnliches",
               '0': "❓ Kein Stromanbieter / kein für uns relevantes Unternehmen"
             }
             return `${ reasons[ident] ? reasons[ident] : '😵 fehlende Information'  }`;
           }
         }
       })

       Vue.component('v-list', {
         props: ['list'],
         template: `<ul>
           <v-item v-for="item in list" :key="item.index" :item="item"></v-item>
         </ul>`
       })

       var app = new Vue({
         el: '#app',
         data: {
           message: 'Hello Vue!',
           original: [],
           providers: [],
           search: '',
           results: [],
           searchIndex: null
         },
         template: `
           <div>
             <template v-if="searchIndex">
               <v-search v-on:typing="this.searching"></v-search>
               <p>Anzahl Ergebnisse: {{this.results.length}}</p>
             </template>
             <p v-else>Daten werden geladen</p>
             <v-list :list="this.results"></v-list>
         </div>`,
         mounted: function() {
           const url = '/assets/providers.json';
           fetch(url).then((response)=>{
             return response.json();
           }).then((data)=>{
             this.original = data;
             this.providers = this.original.map((v,i) => {
               v['index'] = i;
               return v;
             });
             console.log(JSON.stringify(this.providers));
             this.buildIndex();
           })
         },
         methods: {
           buildIndex() {
             let documents = this.providers;
             this.searchIndex = lunr(function () {
               this.ref('index');
               this.field('Firmenname');
               this.field('URL');

               documents.forEach((doc) => {
                 this.add(doc)
               }, this)
             });
           },
           searching(term) {
             if (term.length > 2) {
               let results = this.searchIndex.search('*'+term +'*');
               this.results = results.map(v => {
                 let indexAsInt = parseInt(v.ref, 10);
                 //console.log(v);
                 return this.providers[indexAsInt];
               })
             } else {
               this.results = [];
             }
           }
         }
       })

     })

    </script>
  </body>
</html>
