---
layout: base
---

<article class="article">
  <figure class="article__teaser-image-container">
    <img typeof="foaf:Image" class="img-responsive" src="https://placekitten.com/1024/407" width="1024" height="407">
    <h1 class="article__teaser-image-title">
      Ökostrom­report 2019      </h1>
  </figure>


  <div class="article__teaser-container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        Die Bundesregierung schiebt den Kohleausstieg auf die lange Bank und der Ausbau Erneuerbarer Energien geht weiterhin viel zu langsam; Der eigene Wechsel zu Ökostrom bleibt eine wichtige Möglichkeit die Energiewende zu unterstützen. Aber aufgepasst: nicht jeder Ökostrom-Vertrag bietet einen neuen Nutzen für Umwelt und Klima!        </div>
    </div>
  </div>
</article>

<div class="article">
  <div class="row equal-height-children">
    <div class="col-xs-12 col-sm-6">
      <article class="campaign energyreport">
        <a href="{{ site.url }}/profil" class="outer-link">
          <h2 class="energyreport__title">Greenpeace Energy EG</h2>
          <div class="profile__flex">
            <div class="profile__shrink">
              <canvas id="chart1" width="220" height="220"></canvas>
            </div>
            <div class="profile__shrink">
              <div class="energyreport__mix">
                <h3>Strommix</h3>
                <div data-piechart="chart1">
                  <p data-water="53.93">90,58% Wasser</p>
                  <p data-wind="46.57">90,58% Wind</p>
                  <p data-solar="1.12">90,58% Solar</p>
                </div>
              </div>
              <div class="energyreport__support">
                <p>Förderbetrag für die
                  Energiewende<br>
                  0,5 ct/kWh - 2 ct/ kWh
                  je nach Tari</p>
              </div>
            </div>
          </div>
        </a>
      </article>
    </div>
    <div class="col-xs-12 col-sm-6">
      <article class="campaign energyreport">
        <a href="{{ site.url }}/profil" class="outer-link">
          <h2 class="energyreport__title">Naturstrom</h2>
          <div class="profile__flex">
            <div class="profile__shrink">
              <canvas id="chart2" width="220" height="220"></canvas>
            </div>
            <div class="profile__shrink">
              <div class="energyreport__mix">
                <h3>Strommix</h3>
                <div data-piechart="chart2">
                  <p data-water="95">90,58% Wasser</p>
                  <p data-wind="4.57">90,58% Wind</p>
                  <p data-solar="0">90,58% Solar</p>
                </div>
              </div>
              <div class="energyreport__support">
                <p>Förderbetrag für die
                  Energiewende<br>
                  0,5 ct/kWh - 2 ct/ kWh
                  je nach Tari</p>
              </div>
            </div>
          </div>
        </a>
      </article>
    </div>
  </div>
</div>

<div class="article">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      {{ content }}

      <div id="app"></div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h2 class="article__subheadline">
        Kriterien        </h2>

      <ul class="demands-list">
        <li class="demand">
          <h3 class="demand__title">
            <span class="demand__number">
              1          </span>
            Es gibt keine direkte eigentumsrechtliche Verflechtung des Ökostrom-Anbieters mit einem Konzern, der Atom- oder Kohlekraftwerke betreibt oder mit Strom aus diesen Quellen handelt.        </h3>
          <p class="demand__text">
          </p>
        </li>
        <li class="demand">
          <h3 class="demand__title">
            <span class="demand__number">
              2          </span>
            Die Erzeugungsanlagen generieren 100 Prozent des Stroms aus Erneuerbaren Quellen.        </h3>
          <p class="demand__text">
            Anbieter, die bis zu 5 Prozent des Stroms aus Erdgas-betriebenen Kraft-Wärme-Kopplungsanlagen generieren, werden entsprechend mit kleiner Einschränkung empfohlen.        </p>
        </li>
        <li class="demand">
          <h3 class="demand__title">
            <span class="demand__number">
              3          </span>
            Der Anbieter fördert die Energiewende durch Bezug von Strom aus Neuanlagen und/oder die Investition in Neuanlagen.        </h3>
          <p class="demand__text">
            Mindestens 33 Prozent der Erzeugungsanlagen (bezogen auf die installierte Leistung), aus denen die Anbieter Strom bezieht, sind nicht älter als zehn Jahre und/oder der Anbieter fördert den Bau neuer Ökokraftwerke zur Stromerzeugung mit mindestens 0,1 Prozent pro verkaufter Kilowattstunde.        </p>
        </li>
        <li class="demand">
          <h3 class="demand__title">
            <span class="demand__number">
              4          </span>
            Die Eigentümer der Stromerzeugungsanlagen, von denen der Anbieter Strom kauft, dürfen eigentumsrechtlich allenfalls minimal mit der Atom- und Kohlewirtschaft verflochten sein. Neuinvestitionen in Atom- oder Kohlekraftwerke sind nicht zulässig.        </h3>
          <p class="demand__text">
          </p>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h2 class="article__subheadline">
      </h2>

      <ul class="demands-list">
        <li class="demand">
          <a href="https://www.robinwood.de/blog/fukushima-demo-berlin" class="outer-link">
            <h3 class="demand__title">
              <span class="demand__number">
                1          </span>
              Es gibt keine direkte eigentumsrechtliche Verflechtung des Ökostrom-Anbieters mit einem Konzern, der Atom- oder Kohlekraftwerke betreibt oder mit Strom aus diesen Quellen handelt.        </h3>
            <p class="demand__text">
              <svg class="icon more more--is-green" role="img">
                <use xlink:href="/sites/all/themes/tweme/dist/images/sprite.svg#more"></use>
              </svg>
            </p>
          </a>
     	</li>
        <li class="demand">
          <a href="https://www.robinwood.de/aktionen/billigflieger-klimaschutz-und-die-treburer..." class="outer-link">
            <h3 class="demand__title">
              <span class="demand__number">
                2          </span>
              Die Erzeugungsanlagen generieren 100 Prozent des Stroms aus Erneuerbaren Quellen.        </h3>
            <p class="demand__text">
              Anbieter, die bis zu 5 Prozent des Stroms aus Erdgas-betriebenen Kraft-Wärme-Kopplungsanlagen generieren, werden entsprechend mit kleiner Einschränkung empfohlen.                      <svg class="icon more more--is-green" role="img">
              <use xlink:href="/sites/all/themes/tweme/dist/images/sprite.svg#more"></use>
              </svg>
            </p>
          </a>
     	</li>
      </ul>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="article__text">
      </div>
      <footer class="article__tags-container">
      </footer>
      <div class="share hidden-print">
        <a href="https://twitter.com/intent/tweet?text=Ökostrom­report 2019&amp;url=https://www.robinwood.de/%C3%B6kostromreport-2019&amp;via=robin_wood" class="social-media">
          <div class="social-media__outer">
            <svg class="icon social-media__icon social-media__icon--twitter" role="img">
              <use xlink:href="/sites/all/themes/tweme/dist/images/sprite.svg#twitter">
              </use></svg>
          </div>
          <span class="social-media__label">Tweet</span>
          <span class="visually-hidden">diesen Artikel</span>
        </a>

        <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.robinwood.de/%C3%B6kostromreport-2019" class="social-media">
          <div class="social-media__outer">
            <svg class="icon social-media__icon social-media__icon--facebook" role="img">
              <use xlink:href="/sites/all/themes/tweme/dist/images/sprite.svg#facebook">
              </use></svg>
          </div>
          <span class="social-media__label">Share</span>
          <span class="visually-hidden">diesen Artikel</span>
        </a>

        <a href="mailto:?subject=Schau dir das an&amp;body=Schau dir diesen Robin Wood Artikel an https://www.robinwood.de/%C3%B6kostromreport-2019." class="social-media">
          <div class="social-media__outer">
            <svg class="icon social-media__icon social-media__icon--mail" role="img">
              <use xlink:href="/sites/all/themes/tweme/dist/images/sprite.svg#mail">
              </use></svg>
          </div>
          <span class="visually-hidden">Via Email</span>
          <span class="social-media__label">Teilen</span>
        </a>      </div>

    </div>
  </div>
</div>
