---
layout: base
---

<article class="article energyreport profile">

  <h1 class="profile__title">{{ page.title }}</h1>

  <div class="profile__mix">
    <div class="profile__flex">
      <div class="">
        <canvas id="myChart" width="400" height="400"></canvas>
      </div>
      <div class="">
        <div class="energyreport__mix">
          <h3>Strommix</h3>
          <div data-piechart="myChart">
            <p data-water="53.93">90,58% Wasser</p>
            <p data-wind="46.57">90,58% Wind</p>
            <p data-solar="1.12">90,58% Solar</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="profile__support">
    <h3>Förderbetrag für die
      Energiewende<h3>
      <p>0,5 ct/kWh - 2 ct/ kWh
      je nach Tari</p>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      {{ content }}
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="article__text">
      </div>
      <footer class="article__tags-container">
      </footer>
      <div class="share hidden-print">
        <a href="https://twitter.com/intent/tweet?text=Ökostrom­report 2019&amp;url=https://www.dev.robinwood.de/%C3%B6kostromreport-2019&amp;via=robin_wood" class="social-media">
          <div class="social-media__outer">
            <svg class="icon social-media__icon social-media__icon--twitter" role="img">
              <use xlink:href="/sites/all/themes/tweme/dist/images/sprite.svg#twitter">
              </use></svg>
          </div>
          <span class="social-media__label">Tweet</span>
          <span class="visually-hidden">diesen Artikel</span>
        </a>

        <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.dev.robinwood.de/%C3%B6kostromreport-2019" class="social-media">
          <div class="social-media__outer">
            <svg class="icon social-media__icon social-media__icon--facebook" role="img">
              <use xlink:href="/sites/all/themes/tweme/dist/images/sprite.svg#facebook">
              </use></svg>
          </div>
          <span class="social-media__label">Share</span>
          <span class="visually-hidden">diesen Artikel</span>
        </a>

        <a href="mailto:?subject=Schau dir das an&amp;body=Schau dir diesen Robin Wood Artikel an https://www.dev.robinwood.de/%C3%B6kostromreport-2019." class="social-media">
          <div class="social-media__outer">
            <svg class="icon social-media__icon social-media__icon--mail" role="img">
              <use xlink:href="/sites/all/themes/tweme/dist/images/sprite.svg#mail">
              </use></svg>
          </div>
          <span class="visually-hidden">Via Email</span>
          <span class="social-media__label">Teilen</span>
        </a>      </div>

    </div>
  </div>

</article>
<div class="back hidden-print">
  <a href="{{ site.url }}/" class="back__title">◂ Zum Ökostrombericht</a>
</div>
